  
  .mySwiper2{
    height: fit-content !important;
    padding-bottom: 50px;
  }
  
  .mySwiper2.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  
  .swiper-pagination-bullet{
    width: 15px !important;
    height: 15px !important;
  }

 .swiper-pagination-bullet-active{
  background-color: #4a4a4a;
 }

 .mySwiper3 .swiper-pagination-bullet-active{
  background-color: #72AEC8;
 }